[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-black = "*"
pytest-mccabe = "*"
pytest-pep8 = "*"
pytest-flake8 = "*"

[packages]
antlr4-python3-runtime = "*"

[requires]
python_version = "3.6.8"
